#page-header {
    text-align: center;
    font-family: 'Lobster', cursive;
    height: 80px;
    padding: 15px 0 25px 160px;
    background-color: white;
    opacity: 0.6;
    margin-bottom: 12px;
    color: black;
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.34);
    
}


.svg-inline--fa {
    float: right;
    margin: 0 10px;
    padding-top: 8px;
    padding-right: 5px;
}

body {
    
    background: url("images/JamcestryBackground3.png");
    background-size: cover;
    background-attachment: fixed;
}

.card {
    width: 275px;
    padding-bottom: 20px;
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.34);
    opacity: .9;
}


}
.search {
    padding-left: 0;
}

#header-icon {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

body #artist-name {
    font-family: 'Amiri', serif;
    padding-top: 20px;
    padding-bottom: 5px;
}

#addArtist, .clear-tree {
    background-color: rgb(87, 41, 41);
    color: white;
    border: none;

}

#addArtist:hover {
    background-color: lightgreen;
}

#content-container  {
    margin-bottom: 50px;
}

#select1 {

    text-align: center;
}

body #fol:hover, .clear-tree:hover {
    background-color: lightgreen;
    border: 0;
}

body #infl:hover {
    background-color: rgb(87, 41, 41);
    border: 0;
}

#select1 {
    padding-top: 15px;
    font-family: 'Lobster', cursive;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#input {
    flex-wrap: wrap;
}

body .tr1 {
    text-align: center;
    
}

#icon {
    
    height: 200px;
    width: auto;
    align-content: center;
    color: green;
    text-shadow: green;
    padding-left: 30px;
    padding-right: 30px;
}
.icons {
    text-align: center;

}

#searchBar {
}